# Introduction to Data Analysis with Python

# Objective:

* Handle tabular data with `pandas`

## `pandas`

### Getting started with pandas

In [ ]:
import pandas as pd
import numpy as np

### `pandas` data structures

### Series

The base pandas abstraction. You can thing of it as the love child of a numpy array and a dictionary.

In [ ]:
s = pd.Series([4, 7, -5, 3])
s

If we provide an index, pandas will use it. If not, it will automatically create one.

In [ ]:
print(s.index)
print(s.values)

In [ ]:
s2 = pd.Series([1, 2, 4.5, 7, 2, 23, 15], index=['i', 'f', 'n', 'e', 'u', 'r', 'h'])
s2

In [ ]:
s2['r']

In [ ]:
s2 > 3

In [ ]:
s2[s2>3]

In [ ]:
evens = s2 % 2 == 0

In [ ]:
s2[evens]

In [ ]:
s2

In [ ]:
s2 * 2

In [ ]:
np.exp(s2)

In [ ]:
'f' in s2

In [ ]:
clase = pd.Series([35, 22, 45, 72], index=['Toni', 'Fulanito', 'Menganito', 'Victor'])

In [ ]:
clase

In [ ]:
clase[clase==22].index

We can create Series from dictionaries:

In [ ]:
sdata = {'B' : 3e6, 'M': 6e6, 'P': 1.2e5, 'V': 7e5}

s3 = pd.Series(sdata)
s3

In [ ]:
increase = {'M': 4e5, 'B' : 2e5, 'Z': -2e4}

s4 = pd.Series(increase)

And here is where the magic happens: numpy arrays only identify their contents by position. In contrast, pandas knows their "name" and will align them based on their indexes:

In [ ]:
s3.values

In [ ]:
s4.values

In [ ]:
s3.values + s4.values

In [ ]:
s3 + s4

In [ ]:
s3.name = 'population_2000'
s3.index.name = 'province'

In [ ]:
s3

In [ ]:
s3.index

### DataFrame

This is the object you'll work most of the time with. It represents a table of _m_ observations x _n_ variables. Each variable, or column, is a Series.

In [ ]:
dfdata = {
    'province' : ['M', 'M', 'M', 'B', 'B'],
    'population': [1.5e6, 2e6, 3e6, 5e5, 1.5e6],
    'year' : [1900, 1950, 2000, 1900, 2000]   
}

df = pd.DataFrame(dfdata)
df

In [ ]:
df2 = pd.DataFrame(dfdata, columns=['province','population', 'year', 'debt'])
df2

In [ ]:
df2['kk'] = dfdata['population']

In [ ]:
df2

In [ ]:
df2.index

In [ ]:
df2.columns

In [ ]:
df2[['population','province']]

In [ ]:
df2.population

In [ ]:
df2['2nd_language']=list('EEFFG')

In [ ]:
df2

In [ ]:
df2['2nd_language']

In [ ]:
df2.2nd_language

In [ ]:
# df2['abs']

In [ ]:
df2.index = list('abcde')

In [ ]:
df2

In [ ]:
df2.loc['a']

In [ ]:
df2['debt'] = 10
df2

In [ ]:
df2['debt'] = [1,0,2,.5,.7]
df2

In [ ]:
df2['capital'] = df2['province'] == 'M'
df2

# df2.T

In [ ]:
df2T= df2.T

In [ ]:
df2T.index

In [ ]:
df2

In [ ]:
df2.describe()

In [ ]:
df2.describe().T

### Index objects

Indexes are immutable.

In [ ]:
df2.index[1] = 'x'

In [ ]:
df2.index[1]

In [ ]:
df2.iloc[2:]

### Dropping entries from an axis

In [ ]:
s5 = pd.Series(np.arange(5), list('jduvk'))
s5

In [ ]:
s6 = s5.drop(['d','k'])
s6

In [ ]:
s5

In [ ]:
s5.drop(['d','k'],inplace=False)

In [ ]:
s5

By default, `drop()` doesn't modify the original Series- it creates a copy. We can change that with the argument `inplace`.

In [ ]:
s5

In [ ]:
s6['u'] = 7
s6

In [ ]:
df2

In [ ]:
df2.drop('c')

In [ ]:
df2

In [ ]:
df2.drop('c', axis=0)

In [ ]:
df3 = df2.drop('2nd_language', axis=1)

In [ ]:
df3

# Remember the df.copy() *issue*

In [ ]:
df4 = df3

In [ ]:
df4.drop(['a','b'],inplace=True)

In [ ]:
df4

In [ ]:
df3

In [ ]:
df3 = df2.copy()
df3

In [ ]:
df3.drop('capital', axis=1, inplace=True)
df3

In [ ]:
df2

#========================================================================

### Indexing, selection, and filtering

The key here is that we can build boolean Series that we can use to index the original Series or DataFrame. Those booleans can be combined with bitwise boolean operators (&, |, ~) to get filters that are as complex as we need.

In [ ]:
s3

In [ ]:
s3[['V', 'M']]

In [ ]:
s3[2:]

In [ ]:
s3['P':'V']

In [ ]:
s3 > 1e06

In [ ]:
s3[s3>1e06]

In [ ]:
df3

In [ ]:
df3[df3['year'] > 1950]

In [ ]:
df3[(df3['year'] > 1900) | (df3['debt'] > 1)]

In [ ]:
recent = df3['year'] > 1900
indebted = df3['debt'] > 1

df3[recent & indebted]

In [ ]:
df3[df3['year'] > 1900][df3['debt'] > 1]

### Function application and mapping

Function application and mapping allows us to modify the elements of a DataFrame (columns with apply or elements with applymap) without for loops. This way we are not constrained to the functions already implemented by pandas or numpy.

In [ ]:
df3.drop('kk',inplace=True,axis=1)

In [ ]:
df3

In [ ]:
np.sqrt(df3['population'])

In [ ]:
df4 = pd.DataFrame(np.random.randn(4,3) * 17 + 15, columns=list('bde'), index=list('BMPZ'))
df4

In [ ]:
np.abs(df4)

This is a typical use case for lambdas (anonymous functions)

In [ ]:
def my_range(series):
    return series.max()-series.min()

In [ ]:
def min_max(series):
    return [series.min(),series.max()]

The function for "apply" is expecting a series as input and an object as output.

In [ ]:
df4.apply(my_range)

In [ ]:
df4.apply(lambda col: col.max() - col.min())

In [ ]:
df4.applymap(lambda element: element % 10 )

In [ ]:
df4.apply(lambda series: series.max() - series.min(), axis=1)

In [ ]:
def f(series):
    return pd.Series([series.max(), series.min()], index=['max', 'min'])

df4.apply(f)

In [ ]:
df4.apply(min_max)

In [ ]:
for item in df4.items():
    print(item)

In [ ]:
for item in df4.iteritems():
    print(item)

In [ ]:
map(f, [1,2])

In [ ]:
def format_2digits(number):
    return '%.2f' % number

In [ ]:
df4.applymap(format_2digits)

In [ ]:
df4

### Sorting and ranking

In [ ]:
df4.sort_index(ascending=False)

In [ ]:
df4.sort_index(ascending=False, axis=1)

In [ ]:
df4.sort_values(by='e')

In [ ]:
df4.sort_values(by=['e','b'])

In [ ]:
s1 = pd.Series([2,3,8,4,3,2,1], index=list('abcdefg'))
s1

In [ ]:
s1.sort_values()

rank() returns the positions of the elements of the Series in its sorted version. If there are ties, it will take averages.

In [ ]:
s1.rank()

method{‘average’, ‘min’, ‘max’, ‘first’, ‘dense’}, default ‘average’
How to rank the group of records that have the same value (i.e. ties):

average: average rank of the group

min: lowest rank in the group

max: highest rank in the group

first: ranks assigned in order they appear in the array

dense: like ‘min’, but rank always increases by 1 between groups.

In [ ]:
help(pd.Series([1,1,1]).rank())

In [ ]:
pd.Series([1,1,1]).rank(method='first')

In [ ]:
pd.Series([1,1,1]).rank()

In [ ]:
s2 = pd.Series([30,10,20], index=list('abc'))
s2

In [ ]:
s2.rank()

#### Exercise

Write a function that takes a Series and returns the top 10% registers. In this case, earners. Test it with this Series:

```python
salaries = pd.Series([150000, 90000, 120000,30000,10000,5000,40000, 50000, 80000, 35000, 27000,14000, 28000, 22000,25000])
```

## Summarizing and computing descriptive statistics

In [ ]:
x = pd.Series([1.2, np.nan, 4, np.nan, 9], index=list('abcde'))
y = pd.Series([5, 3, 7, np.nan, 14], index=list('abcde'))

df = pd.DataFrame([x, y], index=['x','y']).T
df

In [ ]:
df.sum()

As with many methods, we can use them in the direction perpendicular to their default.

In [ ]:
df.sum(axis=1)

In [ ]:
df.sum(axis=1, skipna=False)

In [ ]:
df.mean()

In [ ]:
df.mean(axis=1)

In [ ]:
df.cumsum()

In [ ]:
df.std()

In [ ]:
df.describe()

In [ ]:
df['x'].sum()

In [ ]:
df['x'].describe()

### Unique values, value counts, and membership

In [ ]:
s7 = pd.Series(list('gtcaaagcttcga'))
s7

In [ ]:
s7.unique()

In [ ]:
s7.value_counts()

In [ ]:
puric_bases = ['a','g']
s7.isin(puric_bases)

In [ ]:
s7[s7.isin(puric_bases)]

## Handling missing data

In [ ]:
string_data = pd.Series(['Ma', 'Lu', 'Ca', 'Va', np.nan])
string_data

In [ ]:
string_data[string_data!=np.nan]

This is weird... but it has some really good reasons. You can find explanations [here](https://stackoverflow.com/questions/10034149/why-is-nan-not-equal-to-nan) and [here](https://stackoverflow.com/questions/1565164/what-is-the-rationale-for-all-comparisons-returning-false-for-ieee754-nan-values)

In [ ]:
a = np.nan
a==a

In [ ]:
np.nan == np.nan

In [ ]:
string_data[~string_data.isnull()]

### Filtering out missing data

In [ ]:
string_data[string_data.notnull()]

In [ ]:
df5 = pd.DataFrame([[1,2,3], 
                    [np.nan, 8, 7], 
                    [4, np.nan, 90], 
                    [67,42,53]], 
                   columns=list('abc'))
df5

In [ ]:
df5[df5['a'].notnull()]

In [ ]:
df5.notnull()

any() and all() are functions of boolean Series. They reduce the Series to a single boolean value by applying repeatedly the operators "or" and "and", respectively.

In [ ]:
df5.notnull().any()

In [ ]:
df5.notnull().all()

In [ ]:
df5.isnull().any()

In [ ]:
df5.dropna()

In [ ]:
df5

In [ ]:
df5.dropna(axis=1)

In [ ]:
array = np.random.randn(8,3) * 20 + 100

df6 = pd.DataFrame(array, columns=list('xyz'), index=list('abcdefgh'))
df6.iloc[2:5, 1] = np.nan
df6.iloc[1:3, 2] = np.nan
df6

The thresh argument specifies the minimum number of non-null values required to keep a column (or row, with axis=1)

In [ ]:
df6.dropna(thresh=2)

In [ ]:
df6.dropna(thresh=2, axis=1)

In [ ]:
df6.dropna(thresh=6, axis=1)

### Filling in missing data

In [ ]:
df6.fillna(0)

In [ ]:
df6.fillna({'x' : 100, 'y' : 50, 'z' : 20})

In [ ]:
df6

In [ ]:
df6.fillna(method='ffill')

In [ ]:
df6.fillna(method='ffill')

In [ ]:
df6.fillna(df6.median())

In [ ]:
df6.median()

# Additional References

[Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do)