# Introduction to Data Analysis with Python

# Objective:

* Handle tabular data with `pandas`

## `pandas`

### Getting started with pandas

In [ ]:
import pandas as pd
import numpy as np

### `pandas` data structures

### Series

The base pandas abstraction. You can thing of it as the love child of a numpy array and a dictionary.

In [ ]:
s = pd.Series([4, 7, -5, 3])
s

If we provide an index, pandas will use it. If not, it will automatically create one.

In [ ]:
print(s.index)
print(s.values)

In [ ]:
s2 = pd.Series([1, 2, 4.5, 7, 2, 23, 15], index=['i', 'f', 'n', 'e', 'u', 'r', 'h'])
s2

In [ ]:
#nueva linea

In [ ]:
s2['r']

In [ ]:
s2 > 3

In [ ]:
s2[s2>3]#genero a aprtir de una concidicion

In [ ]:
evens = s2 % 2 == 0# puedo tambn guardarlo en una variable

In [ ]:
s2[evens]

In [ ]:
s2

In [ ]:
s2 * 2

In [ ]:
np.exp(s2)

In [ ]:
'f' in s2

In [ ]:
clase = pd.Series([35, 22, 45, 72], index=['Toni', 'Fulanito', 'Menganito', 'Victor'])

In [ ]:
clase

In [ ]:
clase[clase==22].index

We can create Series from dictionaries:

In [ ]:
sdata = {'B' : 3e6, 'M': 6e6, 'P': 1.2e5, 'V': 7e5}#creamos un diccionario

s3 = pd.Series(sdata)#transformamos el diccoinario en una serie
s3

In [ ]:
increase = {'M': 4e5, 'B' : 2e5, 'Z': -2e4}

s4 = pd.Series(increase)

And here is where the magic happens: numpy arrays only identify their contents by position. In contrast, pandas knows their "name" and will align them based on their indexes:

In [ ]:
s3.values

In [ ]:
s4.values

In [ ]:
s3.values + s4.values#falla porque no tengo el mismo numero de elementos en cada array

In [ ]:
s3 + s4# esto si me deja, porque estoy sumando series, sumara cada uno con el correspondiente y si no hay concincidencia -> NaN

In [ ]:
#Podemos cmabiar el nombre de las series
#o tambn el nombre del indice
s3.name = 'population_2000'
s3.index.name = 'province'

In [ ]:
s3

In [ ]:
s3.index

### DataFrame

This is the object you'll work most of the time with. It represents a table of _m_ observations x _n_ variables. Each variable, or column, is a Series.

In [ ]:
#Apartir de las series podemos construir dataframes(casi simepre los leeremos de un csv, pero ahora lo vamos a ver si lo creamos nosotros de cero)
dfdata = {
    'province' : ['M', 'M', 'M', 'B', 'B'],
    'population': [1.5e6, 2e6, 3e6, 5e5, 1.5e6],
    'year' : [1900, 1950, 2000, 1900, 2000]   
}

df = pd.DataFrame(dfdata)
df

In [ ]:
#puedo renombrar columnas, y si existre la deja, y si no la crea con Nan
df2 = pd.DataFrame(dfdata, columns=['province','population', 'year', 'debt'])
df2

In [ ]:
#otra forma, es crearla dando por hecho que existe, en este caso creamos una nueva columna a partir de otra en este caso population

df2['kk'] = dfdata['population']

In [ ]:
df2

In [ ]:
df2.index

In [ ]:
df2.columns

In [ ]:
df2[['population','province']]
# asi elegimos mas de una columna a la vez, HAY QUE PONER 2 CORCHETES, 
#lo que estoy haciendo es seleccionar una lista dentro del dataframe, ya que ['population','province'] es una lista

In [ ]:
df2.population
#otra forma de acceder a una columna igual que df2['population']t. 
#Si el nombre de la columna empieza con numero no se puede acceder de esta manera, habria que usar la otra forma

In [ ]:
df2['population']

In [ ]:
df2['2nd_language']=list('EEFFG')

In [ ]:
df2

In [ ]:
df2['2nd_language']

In [ ]:
df2.2nd_language# como habiamos comentado antes -> FALLA

In [ ]:
# df2['abs']

In [ ]:
df2.index = list('abcde')

In [ ]:
df2

In [ ]:
df2.loc['a']
# para poder extraer filas usamos loc, en este caso 'a' es la posicion del indice que quiero extraer

In [ ]:
#puedo realizar asignaciones
df2['debt'] = 10
df2

In [ ]:
df2['capital'] = df2['province'] == 'M'
df2

In [ ]:
df2['debt'] = [1,0,2,.5,.7]# podemos asignar con una array o una lista
df2

# df2.T

In [ ]:
#podemos crear la traspuesta del dataframe, en el que se cambiaran filas por columnas
df2T= df2.T

In [ ]:
df2T.index

In [ ]:
df2

In [ ]:
df2.describe()
#describe va a coger todas las columnas que sean numericas, y te da una informacion acerca de ellas como count, mean,...

In [ ]:
df2.describe().T
# como el describe me devuelve un dataframe, puedo hacer la traspuesta por si prefierlo leerlo de otra manera

### Index objects

Indexes are immutable.

In [ ]:
df2.index[1] = 'x'# como son elementos inmutables no puedo modificarlo de esta forma

In [ ]:
df2.index[1]

In [ ]:
df2.iloc[2:]# asi puedo seleccionar filas

### Dropping entries from an axis

In [ ]:
s5 = pd.Series(np.arange(5), list('jduvk'))
s5

In [ ]:
s6 = s5.drop(['d','k'])
s6

In [ ]:
s5

In [ ]:
#existen algunos metodos que modifican tambn el original, es lo que se llama inplace, y puedo modificarlo a True, 
#pero por defecto es False

In [ ]:
s5.drop(['d','k'],inplace=False)

In [ ]:
s5

By default, `drop()` doesn't modify the original Series- it creates a copy. We can change that with the argument `inplace`.

In [ ]:
s5

In [ ]:
s6['u'] = 7
s6

In [ ]:
df2

In [ ]:
df2.drop('c')
# en data frames tenemos que tener en cuenta si queremos borrar una fila o una columna, debo tener cuidado al especificarlo

In [ ]:
df2

In [ ]:
df2.drop('c', axis=0)# si lo indico asi me refiero a filas

In [ ]:
df3 = df2.drop('2nd_language', axis=1)# si lo indico asi me refiero a columnas

In [ ]:
# por defecto es axis = 0, osea afectas a la fila

In [ ]:
df3

# Remember the df.copy() *issue*

In [ ]:
df4 = df3

In [ ]:
df4.drop(['a','b'],inplace=True)

In [ ]:
df4

In [ ]:
df3

In [ ]:
df3 = df2.copy()
df3

In [ ]:
df3.drop('capital', axis=1, inplace=True)
df3

In [ ]:
df2

#========================================================================

### Indexing, selection, and filtering

The key here is that we can build boolean Series that we can use to index the original Series or DataFrame. Those booleans can be combined with bitwise boolean operators (&, |, ~) to get filters that are as complex as we need.

In [ ]:
s3

In [ ]:
s3[['V', 'M']]

In [ ]:
s3[2:]# tambn puedo usar iloc -> COMPROBAR

In [ ]:
s3['P':'V']

In [ ]:
s3 > 1e06

In [ ]:
s3[s3>1e06]# esto seria un filtro

In [ ]:
df3

In [ ]:
df3[df3['year'] > 1950]

In [ ]:
df3[(df3['year'] > 1900) | (df3['debt'] > 1)]

In [ ]:
recent = df3['year'] > 1900
indebted = df3['debt'] > 1

df3[recent & indebted]

In [ ]:
df3[df3['year'] > 1900][df3['debt'] > 1]
# asi podemos concatenar filtros o selecciones, primero se hace un filtro y despues se filtra sobre ello

### Function application and mapping

Function application and mapping allows us to modify the elements of a DataFrame (columns with apply or elements with applymap) without for loops. This way we are not constrained to the functions already implemented by pandas or numpy.

In [ ]:
df3.drop('kk',inplace=True,axis=1)

In [ ]:
df3

In [ ]:
np.sqrt(df3['population'])

In [ ]:
df4 = pd.DataFrame(np.random.randn(4,3) * 17 + 15, columns=list('bde'), index=list('BMPZ'))
df4

In [ ]:
np.abs(df4)

This is a typical use case for lambdas (anonymous functions)

In [ ]:
def my_range(series):
    return series.max()-series.min()

In [ ]:
def min_max(series):
    return [series.min(),series.max()]

The function for "apply" is expecting a series as input and an object as output.

In [ ]:
df4.apply(my_range)# apply aplica la funcion a cada una de las columnas

In [ ]:
df4.apply(lambda col: col.max() - col.min())

In [ ]:
df4.applymap(lambda element: element % 10 )# igual q apply pero esto lo aplica sobre todos los elementos

In [ ]:
df4.apply(lambda series: series.max() - series.min(), axis=1)# tambn puedo usar apply sobre columnas si pongo el axis

In [ ]:
def f(series):
    return pd.Series([series.max(), series.min()], index=['max', 'min'])

df4.apply(f)

In [ ]:
df4.apply(min_max)

In [ ]:
df4.apply(lambda series: pd.Series([series.max(), series.min()], index=['max', 'min']))
         #lambda  input: return -> input = series (valor de entrada de la funcion), 
         #                         return = pd.Series([series.max(), series.min()], index=['max', 'min']) (return de la funcion)

In [ ]:
# como iterar en los elementos de un dataframe -> items() y iteritems()

In [ ]:
for item in df4.items():
    print(item)

In [ ]:
for item in df4.iteritems():
    print(item)

In [ ]:
map(f, [1,2])#aplicar la funcion sobre lo que queramos, pero para dataframes se usa applymap

In [ ]:
def format_2digits(number):
    return '%.2f' % number

In [ ]:
df4.applymap(format_2digits)

In [ ]:
df4

### Sorting and ranking

In [ ]:
df4.sort_index(ascending=False)

In [ ]:
df4.sort_index(ascending=False, axis=1)

In [ ]:
df4.sort_values(by='e')#ordenamos para una columna

In [ ]:
df4.sort_values(by=['e','b'])#ordenamos por dos columnas, primero una y luego otra

In [ ]:
s1 = pd.Series([2,3,8,4,3,2,1], index=list('abcdefg'))
s1

In [ ]:
s1.sort_values()

rank() returns the positions of the elements of the Series in its sorted version. If there are ties, it will take averages.

In [ ]:
s1.rank()

method{‘average’, ‘min’, ‘max’, ‘first’, ‘dense’}, default ‘average’
How to rank the group of records that have the same value (i.e. ties):

average: average rank of the group

min: lowest rank in the group

max: highest rank in the group

first: ranks assigned in order they appear in the array

dense: like ‘min’, but rank always increases by 1 between groups.

In [ ]:
help(pd.Series([1,1,1]).rank())

In [ ]:
pd.Series([1,1,1]).rank(method='first')

In [ ]:
s1.rank(method='first')

In [ ]:
pd.Series([1,1,1]).rank()

In [ ]:
s2 = pd.Series([30,10,20], index=list('abc'))
s2

s2.rank()

In [ ]:
s1.rank(method='dense')

#### Exercise

Write a function that takes a Series and returns the top 10% registers. In this case, earners. Test it with this Series:

```python
salaries = pd.Series([150000, 90000, 120000,30000,10000,5000,40000, 50000, 80000, 35000, 27000,14000, 28000, 22000,25000])
```

In [ ]:
salaries = pd.Series([150000, 90000, 120000,30000,10000,5000,40000, 50000, 80000, 35000, 27000,14000, 28000, 22000,25000])

In [ ]:
salaries.describe()

In [ ]:
0.1 * 15

In [ ]:
salaries_order_by_values = salaries.sort_values(ascending=False)
salaries_order_by_values

In [ ]:
salaries_order_by_values[:2]

In [ ]:
pct = 0.1
num_elem = len(salaries)
n = np.round(num_elem * pct)
n

In [ ]:
pct = 0.1
num_elem = len(salaries)
n = int(np.round(num_elem * pct))
    
def take_series(series):    
    salaries_order_by_values = series.sort_values(ascending=False)
    salaries_pct = salaries_order_by_values[:n]
    return salaries_pct

In [ ]:
take_series(salaries)

In [ ]:
salaries.rank(pct=True)>0.9

# otra forma mas rapida

## Summarizing and computing descriptive statistics

In [ ]:
x = pd.Series([1.2, np.nan, 4, np.nan, 9], index=list('abcde'))
y = pd.Series([5, 3, 7, np.nan, 14], index=list('abcde'))

df = pd.DataFrame([x, y], index=['x','y']).T
df

In [ ]:
df.sum()

As with many methods, we can use them in the direction perpendicular to their default.

In [ ]:
df.sum(axis=1)

In [ ]:
df.sum(axis=1, skipna=False)

In [ ]:
df.mean()

In [ ]:
df.mean(axis=1)

In [ ]:
df.cumsum()

In [ ]:
df.std()

In [ ]:
df.describe()

In [ ]:
df['x'].sum()

In [ ]:
df['x'].describe()

### Unique values, value counts, and membership

In [ ]:
s7 = pd.Series(list('gtcaaagcttcga'))
s7

In [ ]:
s7.unique()

In [ ]:
set(s7)# otra forma de sacar los valores unicos es con set -> SOLO VALE PARA ESTO

In [ ]:
s7.value_counts()

In [ ]:
#isin es muy util porque te devuelve una serie de booleanos

In [ ]:
puric_bases = ['a','g']
s7.isin(puric_bases)

In [ ]:
s7[s7.isin(puric_bases)]

## Handling missing data

In [ ]:
string_data = pd.Series(['Ma', 'Lu', 'Ca', 'Va', np.nan])
string_data

In [ ]:
string_data[string_data!=np.nan]

In [ ]:
# como hacemos antes no se puede porq un nan por deficion es distinto a si mismo
# si quiero hacerlo tendria que hacerlo de esta forma:
string_data[string_data==string_data]

In [ ]:
# o si quiero el nan:
string_data[string_data!=string_data]

This is weird... but it has some really good reasons. You can find explanations [here](https://stackoverflow.com/questions/10034149/why-is-nan-not-equal-to-nan) and [here](https://stackoverflow.com/questions/1565164/what-is-the-rationale-for-all-comparisons-returning-false-for-ieee754-nan-values)

In [ ]:
a = np.nan
a==a

In [ ]:
np.nan == np.nan

In [ ]:
# esto es lo que deciamos de la definicion de NaN, un elemento distinto a si mismo

In [ ]:
string_data[~string_data.isnull()]

### Filtering out missing data

In [ ]:
string_data[string_data.notnull()]

In [ ]:
df5 = pd.DataFrame([[1,2,3], 
                    [np.nan, 8, 7], 
                    [4, np.nan, 90], 
                    [67,42,53]], 
                   columns=list('abc'))
df5

In [ ]:
df5[df5['a'].notnull()]
# la condicion es: df5['a'].notnull(), que devueve True o False, y con eso nos devuelve los que han dado True

In [ ]:
df5.notnull()

any() and all() are functions of boolean Series. They reduce the Series to a single boolean value by applying repeatedly the operators "or" and "and", respectively.

In [ ]:
df5.notnull().any()

In [ ]:
df5.notnull().all()

In [ ]:
df5.isnull().any()

In [ ]:
df5.dropna()
#eleminar los NaN de un dataframe, pero hay que tener cuidado porq si lo hacemos a lo bestia con cargamos la fila entera

In [ ]:
df5

In [ ]:
df5.dropna(axis=1)# y como siempre podemos hacerlo tambn por columnas en lugar de por filas

In [ ]:
array = np.random.randn(8,3) * 20 + 100

df6 = pd.DataFrame(array, columns=list('xyz'), index=list('abcdefgh'))
df6.iloc[2:5, 1] = np.nan
df6.iloc[1:3, 2] = np.nan
df6

The thresh argument specifies the minimum number of non-null values required to keep a column (or row, with axis=1)

In [ ]:
df6.dropna(thresh=2)

In [ ]:
df6.dropna(thresh=2, axis=1)

In [ ]:
df6.dropna(thresh=6, axis=1)

In [ ]:
df6.dropna(subset=['x'])

### Filling in missing data

In [ ]:
df6.fillna(0)#añade el valor que queramos donde encuentre NaN

In [ ]:
df6.fillna({'x' : 100, 'y' : 50, 'z' : 20})#igual pero rellena en funcion de los que le digamos a cada columna

In [ ]:
df6

In [ ]:
df6.fillna(method='ffill')# lo rellena con el valor que se ha encontrado justo antes

In [ ]:
df6.fillna(method='ffill')

In [ ]:
df6.fillna(df6.median())

In [ ]:
df6.median()

# Additional References

[Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do)